<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8">
    <title>Страница Index во Views/Home</title>
</head>
<body>
    <p>Первая строка идекса вьюшки</p>
</body>
</html>
